@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="ui center aligned icon header">
        <i class="exclamation icon"></i>
        Welcome to Bangazon
        <div class="sub header">A one stop shop for all your aquatic needs</div>
    </h1>
